<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterCadastro</filter-name>
        <filter-class>Filter.FilterCadastro</filter-class>
    </filter>
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>Filter.FilterLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterCadastro</filter-name>
        <servlet-name>ServletCadastro</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>ServletLogin</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletInserirAdmin</servlet-name>
        <servlet-class>PageServelts.ServletInserirAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirTurma</servlet-name>
        <servlet-class>PageServelts.ServletInserirTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>PageServelts.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastro</servlet-name>
        <servlet-class>PageServelts.ServletCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirAluno</servlet-name>
        <servlet-class>PageServelts.ServletInserirAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirCurso</servlet-name>
        <servlet-class>PageServelts.ServletInserirCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirInstrutor</servlet-name>
        <servlet-class>PageServelts.ServletInserirInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirMatricula</servlet-name>
        <servlet-class>PageServelts.ServletInserirMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAprovCadastrosPendentes</servlet-name>
        <servlet-class>PageServelts.ServletAprovCadastrosPendentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerAluno</servlet-name>
        <servlet-class>PageServelts.ServletVerAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerInstrutor</servlet-name>
        <servlet-class>PageServelts.ServletVerInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerCurso</servlet-name>
        <servlet-class>PageServelts.ServletVerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerTurma</servlet-name>
        <servlet-class>PageServelts.ServletVerTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlunoPorCurso</servlet-name>
        <servlet-class>PageServelts.ServletAlunoPorCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCursoPorInstrutor</servlet-name>
        <servlet-class>PageServelts.ServletCursoPorInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarAluno</servlet-name>
        <servlet-class>PageServelts.ServletEditarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarCurso</servlet-name>
        <servlet-class>PageServelts.ServletEditarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarInstrutor</servlet-name>
        <servlet-class>PageServelts.ServletEditarInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarTurma</servlet-name>
        <servlet-class>PageServelts.ServletEditarTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMinhasNotas</servlet-name>
        <servlet-class>PageServelts.ServletMinhasNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTurmasDisponiveis</servlet-name>
        <servlet-class>PageServelts.ServletTurmasDisponiveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarDadosCadastraisAluno</servlet-name>
        <servlet-class>PageServelts.ServletAlterarDadosCadastraisAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraDadosCadastraisInstrutor</servlet-name>
        <servlet-class>PageServelts.ServletAlteraDadosCadastraisInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecebiveis</servlet-name>
        <servlet-class>PageServelts.ServletRecebiveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtribuirNota</servlet-name>
        <servlet-class>PageServelts.ServletAtribuirNota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInserirAdmin</servlet-name>
        <url-pattern>/ServletInserirAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirTurma</servlet-name>
        <url-pattern>/ServletInserirTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastro</servlet-name>
        <url-pattern>/ServletCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirAluno</servlet-name>
        <url-pattern>/ServletInserirAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirCurso</servlet-name>
        <url-pattern>/ServletInserirCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirInstrutor</servlet-name>
        <url-pattern>/ServletInserirInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirMatricula</servlet-name>
        <url-pattern>/ServletInserirMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAprovCadastrosPendentes</servlet-name>
        <url-pattern>/ServletAprovCadastrosPendentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerAluno</servlet-name>
        <url-pattern>/ServletVerAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerInstrutor</servlet-name>
        <url-pattern>/ServletVerInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerCurso</servlet-name>
        <url-pattern>/ServletVerCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerTurma</servlet-name>
        <url-pattern>/ServletVerTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlunoPorCurso</servlet-name>
        <url-pattern>/ServletAlunoPorCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCursoPorInstrutor</servlet-name>
        <url-pattern>/ServletCursoPorInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarAluno</servlet-name>
        <url-pattern>/ServletEditarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarCurso</servlet-name>
        <url-pattern>/ServletEditarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarInstrutor</servlet-name>
        <url-pattern>/ServletEditarInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarTurma</servlet-name>
        <url-pattern>/ServletEditarTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMinhasNotas</servlet-name>
        <url-pattern>/ServletMinhasNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTurmasDisponiveis</servlet-name>
        <url-pattern>/ServletTurmasDisponiveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarDadosCadastraisAluno</servlet-name>
        <url-pattern>/ServletAlterarDadosCadastraisAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraDadosCadastraisInstrutor</servlet-name>
        <url-pattern>/ServletAlteraDadosCadastraisInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecebiveis</servlet-name>
        <url-pattern>/ServletRecebiveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtribuirNota</servlet-name>
        <url-pattern>/ServletAtribuirNota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
